@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



p{
  font-family: 'Hind Vadodara', sans-serif;
}

@font-face {
  font-family: allround;
  src: url(../fonts/All-Round-Gothic-Bold.ttf);
}
.pop{
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 767px) {
.container-fluid{
		padding: 0px 2rem;
		
	  }
  }
  @media only screen and (min-width: 768px) {
	.container-fluid{
			padding: 0px 3rem;
			
		  }
	  }
/* .container-fluid{
  padding: 0px 3rem;
  
} */

.monofont{
  font-family: allround;
}
.hind{
  font-family: 'Hind Vadodara', sans-serif;
}
.pink-color{
	color: #d8aaf8;
}
html{
	scroll-behavior: smooth !important;
	scroll-behavior: auto  smooth initial inherit;
}
html,
body {
  padding: 0;
  margin: 0;
background-color: #000;
animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.mySwiper{
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* ************ Navbar css start ************ */
.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    color: #fff;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.glow{
	-moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.glow:hover{
	color: #D8AAF8C4;
	/* text-shadow:0px 0px 30px #fff; */
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}


/* ************ Navbar css end ************ */
/* ************ Footer  css end ************ */
.txt-botm {
	position: fixed;
	bottom: 10px;
	left: 0;
	width: 100%;
	z-index: 8;
  }
/* ************ Fotter  css end ************ */

/* **************** Home main slider start ********** */
/* .home-bg{
	background-image: url(../public/assets/smoke.gif);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
} */
.main-sloider{
	background-image: url(../public/assets/smoke.gif);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed !important;

}
/* .parallax-bg {
  background-image: url(../public/assets/smoke.gif);
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
} */
/* **************** Home main slider End ********** */
/* **************** Pl  slider & section css start ********** */
.lof-s{
	text-align: center;
	font-size: 18px;
	/* background: #fff; */
  
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/* -webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center; */
	/* justify-content: center; */
	/* -webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center; */
	/* align-items: center; */
}
.lof-slider{
	width: 100%;
  height: 100%;
  margin-top: 0;
}
.swiper-full-mobile {
	position: relative;
	margin: 40px auto;
	padding-bottom: 50px;
	}
	
	.swiper-full-mobile:before {
	content: "";
	/* width: 265px; */
	width: 256px;
	background: url(../public//assets/pl-slider/frame.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 548px;
	z-index: 2;
	margin: auto;
	}
	.swiper-full-mobile2{
		position: relative;
	/* margin: 40px auto; */
	/* padding-bottom: 50px; */
	}
	.swiper-full-mobile2::before{
		content: "";
	/* width: 265px; */
	/* width: 256px; */
	width: 358px;
	background: url(../public//assets/pl-slider/frame.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 660px;
	right: 0;
	top: 0px;
	/* height: 548px; */
	height: 100%;
	z-index: 2;
	margin: auto;
	}
	@media (min-width:801px) and (max-width:900px) {
		.swiper-full-mobile2::before{
			left: 400px;
			width: 300px;
		}	
	}




.pl-slide{
  text-align: center;
  /* font-size: 18px; */
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pl-slide img{
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  margin-top: 10px;
}
.pl-swiper{
  width: 100%;
  height: 60%;
}
.swiper-button-next{
	right:0px !important;
}
.swiper-button-prev{
	left: 0px !important;
}
.img-size{
	/* width:15rem !important; */
}
/* **************** Pl slider & section css End ********** */


/* **************** Faq slider & section css Start ********** */
.right-sec{
	background: linear-gradient(154.21deg, rgba(81, 45, 168, 0.1) 0.8%, rgba(103, 58, 183, 0.1) 100.66%);
	border-radius: 15px;
  }
.faq-sw{
  width: 100%;
  height: 50%;
}
.faq-slide{
  text-align: center;
  font-size: 18px;
  /* margin: 10px !important; */
  /* background: #fff; */

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
/* .faq-slide {
  width: 80%;
}

.faq-slide:nth-child(2n) {
  width: 60%;
}

.faq-slide:nth-child(3n) {
  width: 40%;
} */
.faq-bachi{
	background-image: url(../public/assets/faqbachi.png);
	background-repeat: no-repeat;
	background-size: auto;
}

@media screen and (min-device-width: 0px) and (max-device-width: 375px) { 

	.scrollfaq {
		height: 60vh !important;
		overflow: hidden;
		overflow-y: scroll;
	  }
	}

	@media screen and (min-device-width: 376px) and (max-device-width: 399px) { 
		.scrollfaq {
			height: 70vh !important;
			overflow: hidden;
			overflow-y: scroll;
		  }
		}
	
	@media screen and (min-device-width: 400px) and (max-device-width: 767px) { 
	.scrollfaq {
		height: 70vh !important;
		overflow: hidden;
		overflow-y: scroll;
	  }
	  .scroll-bar-hide{
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; 
	  }
	  .scroll-bar-hide::-webkit-scrollbar {
		display: none; /* for Chrome, Safari, and Opera */
	  }
  }
@media screen and (max-device-width : 600px) {
	.pr{
		font-size: 12px;
	}
	.faq-bachi{
		background-image: none;
	}
}

/* **************** Faq slider & section css End ********** */
/* **************** Become slider & section css End ********** */

  
  .container {
	display: flex;
	width: 100%;
	/* padding: 4% 2%; */
	box-sizing: border-box;
	height: 100vh;
}
.box {
	flex: 1;
	overflow: hidden;
	transition: 0.5s;
	margin: 0 1%;
	/* box-shadow: 0 20px 30px rgba(0, 0, 0, .1); */
	line-height: 0;
}
.box > img {
	width: 200%;
	height: calc(70% - 0vh);
	object-fit: cover;
	transition: 0.5s;
	border-radius: 10px;
}
.box:hover {
	flex: 1 1 50%;
}
.box:hover > img {
	width: 100%;
	height: 70vh;
}

/* **************** Become slider & section css End ********** */



/* ********************************Animation button css Start************************  */
.button {
	float: left;
	/* min-width: 150px; */
	/* max-width: 250px; */
	display: block;
	/* margin: 1em; */
	padding: 0.5em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
.button--moema {
	/* padding: 1.5em 3em; */
	/* border-radius: 50px; */
	/* background: #7986cb; */
	color: #fff;
  border: 2px solid #D8AAF8C4;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
	background: #ECEFF1;
	color: #37474f;
}
.button--moema::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -10px;
	bottom: -20px;
	right: -10px;
	background: inherit;
	border-radius: 30px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #ECEFF1;
	background-color: #D8AAF8C4;
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
	color: #ECEFF1;
	background-color: #D8AAF8C4;
}
.button--moema:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
/* ********************************Animation button css End************************  */


/* ************************* Whylof css Start ************** */
.card-bg{
  background: linear-gradient(154.21deg, rgba(81, 45, 168, 0.1) 0.8%, rgba(103, 58, 183, 0.1) 100.66%); ;
    backdrop-filter: blur(100px);
   border-radius: 20px;
}
.card-bg p{
  font-size: 16px;
}


@media only screen and (max-width: 767px) {
	.scrollwhylof {
		height: 70vh !important;
		overflow: hidden;
		overflow-y: scroll;
	  }
	  .scroll-bar-hide{
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; 
	  }
	  .scroll-bar-hide::-webkit-scrollbar {
		display: none; /* for Chrome, Safari, and Opera */
	  }
	  .card-bg p{
		font-size: 12px;
	  }
	  .icons{
		min-width: 36px !important;
	}
  }

 


/* ************************* Whylof css End ************** */

/* ************************* Term page css start ************** */
.TermAndConditionDiv{
	/* padding-top: 7%; */
	/* height: 70vh; */
	/* background-image: url("../public/assets/Become-bg.png"); */
	/* background-color: black; */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  }
  .TermAndConditionDiv p{
	font-size: 0.87rem;
	line-height: 1.8rem;
	font-style: normal;
	font-weight: 400;
	/* font-family: 'Hind Vadodara'; */
  }
  
  .TermAndConditionDiv li{
	font-size: 0.9rem;
	line-height: 2.6rem;
	/* font-family: 'Hind Vadodara'; */
  }
  
  
  
  .rowPadding{
	padding: 0 6%;
  }
  
  .PinkColor{
	color:#d8aaf8;
  }
  .fweight{
	font-weight: 700;
	font-size: 20px;
  }
  
  .firstH1{
	font-family: 'AllRound1';
	font-style: normal;
	font-size: 3rem;
  }
  .firstH2{
	font-family: 'AllRound1';
	font-style: normal;
	font-size: 1.8rem;
  }
  .firsth4{
	font-weight: 700;
	font-size: 1.1rem;
  
  }

  @media only screen and (max-width: 767px) {
	.firsth4{
		font-weight: 700;
		font-size: .7rem;
	  
	  }

/* .leading-8{

	font-weight: 700 !important;
		font-size: .7rem !important;
} */

  }


  .firsth4 h6{
	font-size: 1.1rem;
  }
  
  .TermAndConditionDiv ul {
	list-style: none; /* Remove default bullets */
	
  }
  .TermAndConditionDiv ul li::before {
	content: "\2022" !important;
	color: #d8aaf8 !important;
	font-weight: bold !important;
	font-size: 1.8rem !important;
	line-height: normal !important;
	display: inline-block !important; 
	width: 1em !important;
	/* margin-left: -1em; */
	
  }
  
  .termsScroll{
  
	
	height: 60vh !important;
	overflow: hidden;
	overflow-y: scroll;
   
  }
  
  
  /* ************************* Term page  css End ************** */
  /* ************************* privacy page  css start ************** */
  .for-PrivacyBg{
	/* height: 100vh; */
	/* background-image: url("../public/assets/Become-bg.png"); */
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 0% 6%;
	padding-top: 5%;
	
  }
  .termsScroll{
  
	  
	height: 60vh !important;
	overflow: hidden;
	overflow-y: scroll;
   
  }
  .privacy-heading h1{
	  
  /* font-family: 'AllRound1'; */
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  }
  .privacy-heading span{
	color:#D8AAF8;
  }
  .mainPrivacy-txt p{
  
  /* font-family: 'Hind Vadodara'; */
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  
   
  }
  .mainPrivacy-txt span{
	color:#D8AAF8;
	} 
  
	.defination-part h4{
	  /* font-family: 'Hind Vadodara'; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #D8AAF8; 
  }
  .defination-part h3{
	/* font-family: 'Hind Vadodara'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #D8AAF8;
  }
  .defination-part p{
	/* font-family: 'Hind Vadodara'; */
	font-style: normal;
	font-weight: 300;
	font-size: 0.9rem;
	 }
	 .defination-part span{
	  color:#D8AAF8;
	  /* font-family: 'Hind Vadodara'; */
	  font-style: normal;
	  font-weight: 600;
	  font-size: 15px;
	  } 
  
	  .circleSpan{
		font-weight:300;
		font-size:1.1rem;
  
	  }
	  .defination-part li {
	  /* font-family: 'Hind Vadodara'; */
	  /* font-style: normal; */
	  font-weight: 400;
	  font-size: 0.9rem;
	 }
	 .defination-part ul {
	  list-style: none; /* Remove default bullets */
	}
	.defination-part ul li::before {
	  content: "\2022";
	  color: #D8AAF8;
	  font-weight: bold;
	  font-size: 1.8rem;
	  line-height: normal;
	  display: inline-block;
	  width: 1em;
  
	}
  
  
  .for-list-dot{
	list-style-type: circle !important;
  }
  /* ************************* privacy page  css End ************** */
  /* ************************* policy page  css start ************** */
  .for-page-bg{
	/* height: 100vh; */
	/* background-image: url("../public/assets/Become-bg.png"); */
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;			
  }
 
  .RiskPolicyDiv p {
	font-size: .9rem;
	line-height: 1.8rem;
	font-style: normal;
	font-weight: 400;
	/* font-family: Hind Vadodara; */
	color: white;
  }
  .RiskPolicyDiv li {
	font-size: .9rem;
	/* font-family: Hind Vadodara; */
  }
  .RiskPolicyDiv .rowPadding {
	padding: 0 6%;
	/* height: 100vh; */
  }
  .RiskPolicyDiv .PinkColor {
	color: #d8aaf8;
  }
  .RiskPolicyDiv .fweight {
	font-weight: 700;
	font-size: 1.2rem;
  }
  .RiskPolicyDiv .firstH1 {
	font-family: 'AllRound1';
	font-style: normal;
	font-size: 3rem;
  }
  .RiskPolicyDiv .firstH2 {
	font-family: 'AllRound1';
	font-style: normal;
	font-size: 1.8rem;
  }
  .RiskPolicyDiv ul {
	list-style: none;
   /* Remove default bullets */
  }
  .RiskPolicyDiv ul li::before {
	content: "\2022" !important;
	color: #d8aaf8 !important;
	font-weight: bold !important;
	font-size: 1.8rem !important;
	line-height: normal !important;
	display: inline-block !important;
	width: 1em !important;
  
  }
  .RiskPolicyDiv .termsScroll {
	height: 60vh !important;
	overflow: hidden;
	overflow-y: scroll;
  }
  .scroll-bar-hide{
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; 
  }
  .scroll-bar-hide::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
  }
  
  /* ************************* policy page  css End ************** */


  /* ************************* mobile-nav  css start ************** */
  .mbl-nav-bg{
	background: linear-gradient(154.21deg, rgba(81, 45, 168, 0.1) 0.8%, rgba(103, 58, 183, 0.1) 100.66%); ;
    backdrop-filter: blur(10px);
  }
  /* ************************* mobile-nav  css End ************** */







  /* ************************* media-qurries  css start ************** */
 
 
 
 
  /* *************************Hero-sec media-qurries  css start ************** */
  @media only screen and (max-width: 380px) {
	.mbl-resp-hero{
		padding-top: 80px;
	}

  }
  /* *************************Hero-sec media-qurries  css start ************** */
  /* *************************lof-plat media-qurries  css start ************** */
  @media only screen and (max-width: 380px) {
	.mbl-resp-plat{
		padding-top: 80px;
	}
	.txt-hide{
		display: none;
	}
	.img-size{
		width: 15rem;
		margin-top: 40px;
		margin-left: 1.25rem;
	}
	.img-size1{
		width: 15rem;
		/* margin-top: 40px; */
	}
  }
  /* *************************lof-plat media-qurries  css start ************** */
 
 
 
 
  /* *************************BecomeAC  media-qurries css start ************** */
  @media only screen and (max-width: 767px) {
	.box > img {
		height: calc(50% - 0vh);
	}
	.box:hover > img {
		height: 50vh;
	}

  }
  @media only screen and (max-width: 380px) {
	.mbl-resp-bcm{
		padding-top: 60px;
	}
	.box > img {
		height: calc(45% - 0vh);
	}
	.box:hover > img {
		height: 48vh;
	}


  }

 
  /* *************************BecomeAC media-qurries  css start ************** */
  
 
 
 
 
 
 
 
 
  /* ************************* media-qurries  css End ************** */
  #stats {
	position: absolute;
	left: 10px;
	top: 0px;
	z-index: 100;
}